.contacts {
    &__header {
        backdrop-filter: blur(10px);
        background-color: var(--header-background);
        border-top: 2px solid var(--black);
        border-bottom: 2px solid var(--black);
        font-size: 3rem;
        padding: 5px;
        position: relative;
        text-align: center;
        top: 165px;
        width: 100vw;
        @media only screen and (max-width: 450px) {
            top: 50px;   
        }
    }
    &__titles-grouped { 
        background-color: var(--white);
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100vw;
      

    }
    &__title { 
        margin: 0 15px;
    }
    &__items { 
        align-items: center;
        display: flex;
        height: 80vh;
        justify-content: center;
        margin-top: -80px;
        @media only screen and (max-width: 450px) {
            flex-direction: column;   
            margin-top: -60px;
        }
        &--img { 
            height: 94px;
            margin: 0 36px;
            @media only screen and (max-width: 450px) {
                height: 65px;
                margin: 10px;
            }
            
        }
    }
}