@media screen and (max-width: 450px) {
    html {
        scroll-padding-top: 48px;
        /*used so when you click on link it doesn't
                                jump to the very top of the page or block 
                                starter. Instead it "reserves" some space
                                w/o affecting the page formatting*/
    }
   .green { 
    background-color: green;
   }
 @keyframes hamSlider {
    0% {
        transform: translateX(90%);
    }
    25% {
        transform: translateX(70%);
    }
    50% {
        transform: translateX(50%);
    }
    75% {
        transform: translateX(30%);
    }
    100% {
        transform: translateX(0%);
    }
 }

    .off-screen-menu {
        align-items: center;
        background-color: var(--dark-grey);
        display: flex;
        flex-direction: column;
        font-family: var(--main-font);
        font-size: 4rem;
        justify-content: center;
        height: 105vh;
        padding-top: 15px;
        position: fixed;
        text-align: center;
        top: 0;
        touch-action: none;
        transition: .3s ease;
        width: 100%;

        // animates appearance (just idea, no solution)
        animation:  hamSlider 0.15s ease-in-out;
        &__link { 
            border-radius: 50px;
            border: 2px solid var(--off-white);
            margin: 20px 0;
            background-color: var(--off-black);
            padding: 10px;
            width: 95%;

            a { 
                text-decoration: none;
                
            }
            &--title { 
                color: white;
            }
        }
        
    }
    .active { 
        right: 0;
    }
  

    #ham-menu-position {
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 1000;
    }

    .ham-menu {
        height: 40px;
        margin-left: auto;
        position: fixed;
        right: 15px;
        top: 5px;
        width: 40px;
    }


    .ham-menu span {
        background-color: var(--off-white);
        border-radius: 25px;
        height: 5px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: .3s ease;
        width: 100%;
        z-index: 1000;
    }

    .ham-menu span:nth-child(1) {
        top: 25%;
    }

    .ham-menu span:nth-child(3) {
        top: 75%;
    }

    .ham-menu.active span:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .ham-menu.active span:nth-child(2) {
        opacity: 0;
    }

    .ham-menu.active span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

}

.dropdown-wrapper {
    position: relative;
    width: 200px;
  }
  
  .dropdown-wrapper .dropdown {
    background: #fff;
    width: 200px;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 0;
    font-family: "Open Sans";
    font-size: 22px;
    display: flex;
    align-items: center;
  }