* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
html {
    box-sizing: border-box;
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    background: transparent; /* Optional: just make scrollbar invisible */
    width: 0; /* Remove scrollbar space */
}

#wrapper {
    background: var(--wrapper-gradient);
    box-sizing: border-box;
}

// check why this is here
#profile-image {
    height: 300px;
    width: 300px;
}

#title {
    color: var(--white);
    font-family: var(--secondary-font);
    font-size: 4rem;
    height: 100vh;
    left: 40%;
    position: absolute;
    text-shadow: 2px 2px 2px var(--text-shadow);
    top: 200px;
    white-space: nowrap;
    width: 100%;
    z-index: 12;
    @media only screen and (max-width: 400px) {
        top: 180px;
        left: 7%;       
    }
    @media only screen and (max-width: 450px) {
        top: 190px;
        left: 10%;       
    }
}

.wrap-section {
    height: 100vh;
    position: relative;
}

section {
    display: flex;
    height: 100vh;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    width: 100%;

    img {
        height: 100%;
        left: 0;
        object-fit: cover;
        pointer-events: none;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

#clouds-top {
    z-index: 13;
}
#sunLight {
    mix-blend-mode: screen;
}

#clouds-mid {
    z-index: 12;
}
#clouds-bottom {
    z-index: 14;
}

.intro-info {
    align-content: center;
    background: var(--intro-gradient);
    display: grid;
    font-family: var(--main-font);
    font-size: 3rem;
    min-height: 100vh;
    place-items: center;
}

