.scroll-to-top-btn {
    position: relative;
  }
  
  .icon-position {
    position: fixed;
    bottom: 40px;
    right: 25px;
    z-index: 1;
  }
  
  .icon-style {
    animation: changeColor 0.3s ease ;
    background-color: var(--accent-red);
    border: 2px solid var(--white);
    border-radius: 50%;
    color: var(--white);
    cursor: pointer;
    height: 50px;
    margin: auto;
    transition: all 0.5s ease-in-out;
    width: 50px;
  }
  
  .arrow-image { 
    height: 40px;
    width: 40px;
  }


  @keyframes changeColor { 
    0% {
      background-color: hsla(4, 99%, 66%, 0);
    }
    25%{
      background-color: hsla(4, 99%, 66%, 0.25);
    }
    50% { 
      background-color: hsla(4, 99%, 66%, 0.5);
    }
    75% { 
      background-color: hsla(4, 99%, 66%, 0.75);
    }
    100%{ 
      background-color: hsla(4, 99%, 66%);
    }
  }
  