.scroll-to-top-btn {
    position: relative;
  }
  
  .icon-position {
    position: fixed;
    bottom: 40px;
    right: 25px;
    z-index: 20;
  }
  
  .icon-style {
    background-color: var(--accent-red);
    border: 2px solid #fff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    margin: auto;
    animation: changeColor 0.3s ease ;
  
    &:hover {
      animation: none;
      background: var(--off-black);
      border: 2px solid var(--accent-red);
      animation: movebtn 3s ease-in-out infinite;
    }
  }
  
  .arrow-image { 
    height: 40px;
    width: 40px;
  
  }
  @keyframes movebtn {
    0% {
      transform: translateY(0px);
    }
    25% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(0px);
    }
    75% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  @keyframes changeColor { 
    0% {
      background-color: hsla(4, 99%, 66%, 0);
    }
    25%{
      background-color: hsla(4, 99%, 66%, 0.25);
    }
    50% { 
      background-color: hsla(4, 99%, 66%, 0.5);
    }
    75% { 
      background-color: hsla(4, 99%, 66%, 0.75);
    }
    100%{ 
      background-color: hsla(4, 99%, 66%);
    }
  }
  