:root { 
    /* main colors */
    --off-white: #cfcfcf;
    --off-black: #292929;
    --accent-red: #FE5F55;
    --off-black: #303030;
    --off-white: #d6d6d6;

    /* fonts */
    --main-font: "Inter", sans-serif;
    --secondary-font: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    
    /* secondary colors */
    --dark-grey: #1f1f1f;
    --black: #000;
    --white: #fff;
    --link-color: #5174bb;
    --accent-orange: #ff9c40;

    /* home page color */
    --header-background: #ffffff2c;
    --wrapper-gradient: linear-gradient(180deg, #ff9f31 100%, #000);
    --intro-gradient: linear-gradient(180deg, #ff9f3100 0%, #b2a1ccb7 100%);
    --underline-gradient: radial-gradient(circle, #fe5e52 29%, #4f636700 100%);
    --text-shadow: #838383;
    --skill-box-shadow: #2020203b;
    --skill-box-background: #aa785c48;
    --skill-box-title-shadow: #6d6d6d7c;
    --skill-box-list-shadow: #8383839d;

    /* about page colors */
    --about-wrap-background: #ededed;
    --about-text-background: #ffffff80;
}

*, :before, :after { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
  }

header { 
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
}


