* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

// "fix" so main page won't take all space and show start of the projects
section {
    height: 80vh;
}

.wrapper {
    align-items: center;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;

    .first-page {
        height: 100vh;
    }

    .clouds-background {
        position: absolute;
        top: 140px;
        z-index: -1000;
    }

    .about-container {
        font-family: var(--main-font);
        display: flex;
        flex-direction: row;

        /* margin-top to "fix" navbar not taking needed space as before
        due to changing it from sticky to fixed position
        and being lazy to rework all thing for now */
        margin-top: 56px;
    }

    // second page
    .second-page { 
        display: flex;
        flex-direction: row;
        font-family: var(--main-font);
        font-size: 3rem;
        justify-content: center;
        margin-top: 50px;
    }
    
    .time-curve { 
        width: 381px;
        height: 747px;
        margin-top: 47px;
        margin-right: 10px;
    }
    
}

@keyframes movetext {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(0px);
    }
    75% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0px);
    }
}
