* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

// "fix" so main page won't take all space and show start of the projects
section {
    height: 80vh;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    

    font-size: 1.5rem;
    @media (min-width: 451px) and (max-width: 1700px) { 
        align-items: baseline;
    }
    @media only screen and (max-width: 450px) {
        flex-direction: column;
    }

    .first-page {
        height: 100vh;
        
        @media (min-width: 451px) and (max-width: 1700px) {
            flex-direction: column;
        }
    }

    .clouds-background {
        position: absolute;
        top: 140px;

        z-index: -1000;
        @media only screen and (max-width: 450px) {
            display: none;
        }
    }
 
    .about-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    
        position: relative;
    
        font-family: var(--main-font);
      
        @media only screen and (max-width: 450px) {
            flex-direction: column;
        }
        @media (min-width: 451px) and (max-width: 1700px) {
            flex-direction: column;
            justify-content: flex-start;
        }
    }

    // second page
    .second-page {
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        font-family: var(--main-font);
        font-size: 3rem;
        margin-top: 50px;
        @media only screen and (max-width: 450px) {
            flex-direction: column;
            max-width: 400px;
        }
        @media (min-width: 451px) and (max-width: 1700px) {
            flex-direction: row;
            gap: 50px;
        }
    }

    .time-curve {
        height: 747px;
        margin-top: 47px;
        margin-right: 10px;
        width: 381px;
        @media only screen and (max-width: 450px) {
            display: none;
        }
        @media (min-width: 451px) and (max-width: 1700px) {
            display: none;
        }
    }
}

@keyframes movetext {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(0px);
    }
    75% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0px);
    }
}
