.background {
    left: -150px;
    position: absolute;
    top: 55px;
    z-index: -999;
}

.container {
    align-items: center;
    display: flex;
    font-family: var(--main-font);
    justify-content: center;
    margin-top: 55px;
    .contacts {
        &__hire-text { 
            font-size: 2.5rem;
            margin-top: -240px;
            text-align: center;
        }
        .cat-meme { 
            position: fixed;
            bottom: 0;
            right:0;
        }
        .cat-meme-text { 
            font-size: 2rem;
            position: fixed;
            bottom: 40px;
            right: 30px;
        }
    }
}
