.background {
    position: absolute;
    top: 55px;
    left: -150px;
    
    z-index: -999;
    @media only screen and (max-width: 450px) {
        position: fixed;
        left: 0;
        top: 0;

        height: 700px;
        object-fit: cover;
        width: 100%;
    }
}

.container {
    align-items: center;
    display: flex;
    justify-content: center;

    font-family: var(--main-font);
    height: 100%;
    margin-top: 55px;
    width: 100vw;
    .contacts {
        height: 100%;
        width: 100vw;
        &__wrap {
            align-items: center;
            display: flex;
            flex-direction: column;

            margin-top: 40px;

            @media only screen and (max-width: 450px) {
                position: fixed;

                align-items: baseline;
                margin-top: 0;
            }
        }
        &__hire-text {
            font-size: 2.5rem;
            margin-top: -240px;
            text-align: center;

            @media only screen and (max-width: 450px) {
                position: fixed;
                top: 670px;
                left: 0px;
                width: 300px;

                color: var(--black);
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);
                background-color: var(--transparent-background);
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                border-top: 2px solid var(--black);
                border-right: 2px solid var(--black);
                border-bottom: 2px solid var(--black);
                font-size: 2rem;
                font-weight: 400;
                text-align: left;
                margin-right: 20px;
                padding: 15px 0 15px 15px;
                z-index: 1;
            }
        }

        &__work-types {
            font-family: var(--main-font);
            font-size: 2.5rem;
            font-weight: 500;
            text-align: center;
            @media only screen and (max-width: 450px) {
                position: fixed;
                top: 290px;
                left: 100px;

                color: var(--black);
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);
                background-color: var(--transparent-background);
                border-bottom-left-radius: 10px;
                border-left: 2px solid var(--black);
                border-bottom: 2px solid var(--black);
                padding: 20px;
                width: 100%;
            }

            &--title {
                text-align: center;
                font-size: 2.5rem;
                font-weight: 500;
                margin: 20px;
                margin-bottom: 5px;
                z-index: 10;
                @media only screen and (max-width: 450px) {
                    position: fixed;
                    top: 245px;
                    left: 80px;
                    
                    backdrop-filter: blur(10px);
                    -webkit-backdrop-filter: blur(10px);
                    background-color: var(--transparent-background);
                    border-top-left-radius: 10px;
                    border-top: 2px solid var(--black);
                    border-bottom: 1px solid var(--black);
                    border-left: 2px solid var(--black);
                    color: var(--black);
                    font-size: 2rem;
                    margin: 5px;
                    margin-top: 10px;
                    margin-left: 20px;
                    padding: 5px;
                    text-align: left;
                    width: 100%;
                }
            }
            &--item {
                font-size: 2.2rem;
                margin-left: -90px;
                padding: 3px;
                text-align: left;
                @media only screen and (max-width: 450px) {
                    font-size: 1.7rem;
                    margin-left: 23px;
                }
            }
        }
        .cat-meme {
            position: fixed;
            right: 0;
            bottom: 0;
            @media only screen and (max-width: 450px) {
                width: 200px;
                z-index: -2;
            }
        }
        .cat-meme-text {
            position: fixed;
            right: 30px;
            bottom: 40px;

            font-size: 2rem;
            @media only screen and (max-width: 450px) {
                font-size: 1.7rem;
            }
        }
    }
}
